* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

$black: #110f0f;
$black-light: #201D1D;
$white: #D3D3D3;
$grey-light: #757575;
$grey: #464646;

$tabHeight: 400px;
$tabWidth: 600px;


body {
  background-color: $black;
  color: $white;
  font-family: 'Montserrat', sans-serif;
}

#root{
  min-height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.border-cont {
  min-width: $tabWidth;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  box-sizing: content-box;
}

.settings-cont {
  padding: 0 10px;
  border: 1px solid $grey;
  background-color: $black;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  .top-row, .bottom-row{
    display: flex;
    flex-flow: row nowrap;
  }
  .top-row{
    align-items: flex-end;
  }
  .input-number{
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 5px;
    border: 1px solid $grey;
    border-radius: 3px;
    background-color: $black-light;
    caret-color: $white;
    color: $white;
    padding: 10px;
    outline: none;
  }
  .input-number:focus {
      outline: none;
  }
  .input-number::placeholder{
      color: $grey;
  }
}

.button-cont {
  padding-top: 40px;
  display: flex;
  justify-content: center;
  .chain-button{
    width: 40px;
    height: 40px;
    margin: 5px;
    border: 1px solid $grey;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chain-button:hover, .chain-button:focus{
    cursor: pointer;
  }
  .on {
    background-color: $grey-light;
  }
  .off{
    background-color: $black-light;
  }
  
}

.display-cont{
  padding: 40px;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  .preview{
    width: $tabHeight / 2;
    height: $tabHeight / 2;
    background-color: $black;
    border: 1px solid $grey;
  }
}

.output {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding-top: 50px;
  div{
    width: $tabWidth;
    height: 150px;
    border: 1px solid $grey;
    border-radius: 3px;
    padding: 20px;
  }
}

